html {
  box-sizing: border-box;
  font-family: "Georgia", serif;
  line-height: 1.5;
  background-color: #f5f2f0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 1rem;
}

img {
  width: 100%;
  margin: 0 0 1.5rem;
}

h1, h2 {
  color: #623b0c;
  font-family: "Denk One";
}

h1 {
  margin: 0;
}

h2 {
  margin: 0 0 1.5rem;
}

ol {
  display: grid;
  margin: 1.5rem;
  padding: .5em;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

li {
  background-color: #ede3db;
  border: 2px solid #623b0c;
  border-radius: 8px;
  padding: .5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

p {
  margin: 0 0 auto;
}

a {
  background-color: #623b0c;
  color: #fff;
  text-decoration: none;
  margin: 1.5rem 0 0;
  padding: .5em;
  border-radius: 8px;
}

section a:hover {
  background-color: #000;
  color: #fff;
}
